<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<p style="font-size:20px; font-family:Comic Sans;" > More information will be update. <br> Please refer to my github. <br>
    <a href="https://github.com/tuantla80/Blockchain" > Blockchain code</a>
</p>

</body>
</html>

