<!DOCTYPE html>
<html>
<head>
    <title> <%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/about_styles.css' media="all"/>
</head>
<body>
    <h1> How to built and deployment this website </h1>
    <p> Welcome to the documentation part! </p>
    <p>
        The topic will serve as a quick introduction into how to build and deployment this website. In this document, you
        will find useful documentation links, as well as examples of some elements you can use in your own content.
        <br/>
    </p>
    <p><b> In this topic: </b></p>
    <ul>
        <li><a href="#h2_0"> How to build a website using node.js and express </a></li>
        <li><a href="#h2_1">How to deploy a node.js application to production using Heroku </a></li>
    </ul>

    <div class="darkTextBlock">
        <h2 id="h2_0"> Typical Tasks </h2>
        <p>
            To help you get started easier, we have prepared a set of help topics explaining how to perform the most typical
            operations in ClickHelp. Check the links below.
        </p>
        <ul>
            <li>
                Get Started
                <ul>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/basic-concepts" target="_blank"
                           title="Basic concepts, terms and notions of ClickHelp">
                            ClickHelp Basic Concepts
                        </a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/typical-help-authoring-process"
                           target="_blank" title="Typical Help Authoring Process in ClickHelp">
                            Typical Help Authoring Process in ClickHelp
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Basic Tasks
                <ul>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/import-or-use-project-template"
                           target="_blank" title="Starting a new project in ClickHelp - CHM or template">New Project: Import
                            CHM or Use a Template</a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/insert-images" target="_blank"
                           title="Inserting images to help topics">
                            Inserting images to help topics
                        </a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/insert-links" target="_blank"
                           title="Inserting links to help topics">
                            Inserting links to help topics
                        </a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/arrange-topics-in-table-of-contents"
                           target="_blank" title="Manage the table of contents elements">
                            Arrange Topics in Table of Contents
                        </a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/publish-online-manual"
                           target="_blank" title="Publishing your user manual on the Internet">
                            Publish User Manual
                        </a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/link-to-your-documentation-portal"
                           target="_blank" title="Create links to your online documentation portal">
                            Link to Your Documentation Portal
                        </a>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/create-a-pdf-manual"
                           target="_blank" title="Create a PDF version of a user manual">
                            Create a PDF Version of a User Manual
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Single-Sourcing Techniques
                <ul>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/share-content-among-topics"
                           target="_blank" title="Re-using content by sharing it among topics">
                            Share Content Among Topics
                        </a>
                        <br/>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/typical-conditional-content"
                           target="_blank" title="Using conditional content in help topics">Conditional Content </a>
                        <br/>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/use-variables-in-text"
                           target="_blank" title="Use variables in the topic text">

                            Use Variables in Text
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Administration and Workflow
                <ul>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/create-user-account"
                           target="_blank" title="Creating a new user account in ClickHelp">
                            Create a New Account
                        </a>
                        <br/>
                    </li>
                    <li>
                        <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/view-topics-assigned-to-me"
                           target="_blank" title="View topics assigned to me">
                            View Topics Assigned to Me
                        </a>
                        <br/>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <h2 id="h2_1"><b>How to deploy a node.js application to production using Heroku </b></h2>
    <ul>
        <li>Heroku and Github</li>
            <ul>
                <li><a href="https://github.com/" target="_blank" title="Setup a github account">Setup a github account</a> </li>
                <li><a href="https://www.heroku.com/" target="_blank" title="Setupt a Heroku account">Setupt a Heroku account</a> </li>
                <li> <a href="https://devcenter.heroku.com/articles/heroku-cli#download-and-install" target="_blank" title="Install Heroku CLI"> Downoad and Install Heroku CLI </a> <br> </li>
                <li><a href="https://git-scm.com/" target="_blank" title="Download and install version control with Git">Download and install version control with Git</a> </li>
                    <pre>
Note: If you are installing git in Windows, you need to check the option for git bash.
Below is some basic git command lines
> git --version
> git init  // to set up a new repository
> notepad .gitignore  // add content node_modules/ to ignore all node_modules files
> git status // to check the current status
> git add .  // to add all folders and files into the repository
> git add routes/   //to get all files in routers into the reposistory
> git commit -m "Init commit"
> git add app.js  (or git add . )  // Use this after changing app.js file
> git commit -m "remove a console.log"
> git push
> git remote
> git push heroku master
                    </pre>
            </ul>
        <li>SSH (Secured Shell) Keys</li>
        Note: In Windows, you need to use Git Bash
            <ul>
                <li>To generate a SSH key pairs</li>
                    <pre>
$ ssh-keygen -t rsa -b 4096 -C "tuantla80@gmail.com"
    -t for type
    rsa protocol;
    -b for bit (how many bits)
    4096 bits for the key
    -C (captical c) for comment
                    </pre>

                <li>To check the content after generating</li>
                    <pre>
$dir .ssh          // in Windows
$ls -a -l ~/.ssh   // in Mac or Linux
Output: id_rsa file (a secret and keep in local machine and not share to anyone)
        id_rsa.pub file (public file and can share with Github and Heroku)
                    </pre>
                <li>To set up SSH agent</li>
                    <pre>
$ eval $(ssh-agent -s)    // in Windows
$eval "$(ssh-agent -s)"   // in Mac and Linux.
Output: Agent pid 7996    // meaning everything is working well.

$ssh-add .ssh/id_rsa      // in Windows
$ssh-add -K ~/.ssh/id_rsa // in Mac
Output: Identity added: .ssh/id_rsa (.ssh/id_rsa)
                    </pre>
    </ul>
        <li>Pushing code to Github</li>
            <ul>
                <li>Create a new repository in github website</li>
                    <pre>
At github website, choose "new repository" -->
                   choose project title, etc -->
                   choose "Create reposistory"
We will use "..or push an existing repository from the command line" and will use the below command lines
    git remote add origin https://github.com/tuantla80/personal-website.git
    git push -u origin master
                    </pre>
                 <li>Make a title and push new SSH key</li>
                    <pre>
At github website, go to Profile section -->
                   Setting -->
                   SSH and GPC keys -->
                   Choose "New SSH key"
Title: app-personal-website

Input key:
$ notepad .ssh/id_rsa.pub   // in Windows  Git Bash
$cat ~/.ssh/id_rsa.pub      // in Mac
Copy all the content and paste to SSH key in github.
                    </pre>
                <li>To test SSH connection</li>
                    <pre>
$ ssh -T git@github.com   // Mac or Windows Git Bash
The authenticity of host 'github.com (192.30.255.112)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added 'github.com,192.30.255.112' (RSA) to the list of known hosts.
Hi tuantla80! You've successfully authenticated, but GitHub does not provide shell access.
                    </pre>
                <li>Do two above command lines to push code into github</li>
                    <pre>
> git remote add origin https://github.com/tuantla80/personal-website.git
> git push -u origin master
                    </pre>
            </ul>

        <li>Deploying node.js to Heroku</li>

    <br/>
    <div class="footer">
        <div class="footerInner">
            &copy; TLA Tuan website <br/>
        </div>
    </div>
</body>
</html>