<!DOCTYPE html>
<html>
<head>
    <title>Tran Le Anh Tuan | tuantla80@gmail.com</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="resume.css" media="all"/>

</head>
<body>

<div id="doc2" class="yui-t7">
    <div id="inner">

        <div id="hd">
            <div class="yui-gc">
                <div class="yui-u first">
                    <h1>Tran Le Anh Tuan</h1>
                    <!--<h2>Web Designer, Director</h2>-->
                </div>

                <div class="yui-u">
                    <div class="contact-info">
                        <h3><a id="pdf" href="pdf/Tuan_CV.pdf">Download full CV (PDF)</a></h3>
                        <h3>Email: <a href="tuantla80@gmail.com">tuantla80@gmail.com</a></h3>
                        <h3>Tel: (82) 10 6481 2305</h3>
                        <h3>Github: <a href="https://github.com/tuantla80/">Link</a></h3>
                    </div><!--// .contact-info -->
                </div>
            </div><!--// .yui-gc -->
        </div><!--// hd -->

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Objective</h2>
                        </div>
                        <div class="yui-u">
                            <p>
                                <b> Search for a data scientist position </b> </br>
                                ● Excellent in written and spoken communication skills, critical thinking and time
                                management. </br>
                                ● 7+ years of industrial experience in developing highly efficient data science tools,
                                designing
                                and
                                building dashboards for data analysis and visualization. </br>
                                ● Solid research experience in statistical modeling, numerical analysis and machine
                                learning,
                                especially
                                for nano-scale devices and semiconductor manufacturing. </br>
                                ● Self-motivation, goal-orientation, responsibility, team player with a professional
                                manner.
                            </p>
                        </div>
                    </div><!--// .yui-gf -->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Academic Qualifications</h2>
                        </div>

                        <div class="yui-u">
                            <div class="job">
                                <h2>Ph.D. in Computational Nanoelectronic</h2>
                                <h3>Korea Advanced Institute of Science and Technology (KAIST)</h3>
                                <h4>Aug 2006 - Aug 2011</h4>
                            </div>
                            <div class="job">
                                <h2>M.Sc. in Electronics and Telecommunication</h2>
                                <h3>Hanoi University of Science and Technology (HUST)</h3>
                                <h4>Oct 2003 - Nov 2005</h4>
                            </div>
                            <div class="job last">
                                <h2>B.Sc. in Electronics and Telecommunication</h2>
                                <h3>Hanoi University of Science and Technology (HUST)</h3>
                                <h4>Aug 1998 - Jun 2003</h4>
                            </div>
                        </div>
                    </div><!--// .yui-gf -->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Industry Experience</h2>
                        </div><!--// .yui-u -->

                        <div class="yui-u">
                            <div class="job last">
                                <h2>Samsung Electronics, Suwon, Korea</h2>
                                <h3>Staff Engineer</h3>
                                <h4>Oct. 2011- present</h4>
                                <p>- System development for semiconductor manufacturing <br>
                                    - Applied statistics and machine learning <br>
                                    - Data analytics and visualization <br>
                                    - Semicondictor process technology and device physics <br>
                                    - SRAM modeling and simulaion</p>
                            </div>
                        </div><!--// .yui-u -->
                    </div><!--// .yui-gf -->

                    <!--<div class="yui-gf">-->
                    <!--<div class="yui-u first">-->
                    <!--<h2>Skills</h2>-->
                    <!--</div>-->
                    <!--<div class="yui-u">-->
                    <!--<div class="talent">-->
                    <!--<h2>Web Design</h2>-->
                    <!--<p>Assertively exploit wireless initiatives rather than synergistic core-->
                    <!--competencies. </p>-->
                    <!--</div>-->
                    <!--<div class="talent">-->
                    <!--<h2>Interface Design</h2>-->
                    <!--<p>Credibly streamline mission-critical value with multifunctional functionalities. </p>-->
                    <!--</div>-->
                    <!--<div class="talent">-->
                    <!--<h2>Project Direction</h2>-->
                    <!--<p>Proven ability to lead and manage a wide variety of design and development projects-->
                    <!--in team and independent situations.</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>&lt;!&ndash;// .yui-gf &ndash;&gt;-->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Programming Languages</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li>Python</li>
                                <li>C/C++</li>
                                <li class="last">HTML/CSS/Javascript</li>
                            </ul>
                            <ul class="talent">
                                <li>Matlb</li>
                                <li>Perl</li>
                                <li class="last"></li>
                            </ul>
                            <ul class="talent">
                                <li>VBA</li>
                                <li>SQL</li>
                                <li class="last">Fortran</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Frameworks/ Libraries</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li>NumPy</li>
                                <li>SciPy</li>
                                <li>Panda</li>
                                <li>Scikit-Learn</li>
                                <li>Tensorflow</li>
                                <li>Matplotlib</li>
                                <li>Seaborn</li>
                                <li>Plotly</li>
                                <li class="last">Cufflinks</li>
                            </ul>

                            <ul class="talent">
                                <li>python-pptx</li>
                                <li>openpyxl</li>
                                <li>NLTK</li>
                                <li>pymongo</li>
                                <li>django</li>
                                <li>Node.js</li>
                                <li>socket.io</li>
                                <li>D3.js</li>
                                <li class="last">C3.js</li>
                            </ul>

                            <ul class="talent">
                                <li>Bootstrap</li>
                                <li>jQuery</li>
                                <li>Lapack</li>
                                <li>PETSc</li>
                                <li>MongoDB</li>
                                <li>PostgreSQL</li>
                                <li>Docker</li>
                                <li>Amazon AWS</li>
                                <li>Google Cloud</li>
                                <li class="last">Ansible</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->


                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Platform</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li class="last">Windows</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Linux</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Solaris</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Software</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li>TIBCO Spotfire</li>
                                <li>SAS JMP</li>
                                <li class="last">MiniTab</li>
                            </ul>

                            <ul class="talent">
                                <li>Excel, PowerPoint, Words</li>
                                <li>Origin</li>
                                <li class="last">GNUplot</li>
                            </ul>
                            <ul class="talent">
                                <li>Paramatrix</li>
                                <li class="last">Tableau</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Toolkit</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li class="last">Pycharm</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Anaconda</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Spyder</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>TCAD/EDA</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li class="last">Synopsis HSPICE</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">StarRC (Parasitic extraction)</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Sentaurus</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf last">
                        <div class="yui-u first">
                            <h2>Languages</h2>
                        </div>
                        <div class="yui-u">
                            <ul class="talent">
                                <li class="last">English</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Vietnamese (native)</li>
                            </ul>
                            <ul class="talent">
                                <li class="last">Korean</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                </div><!--// .yui-b -->
            </div><!--// yui-main -->
        </div><!--// bd -->

        <div id="ft">
            <p>Tran Le Anh Tuan &mdash; <a href="tuantla80@gmail.com">tuantla80@gmail.com</a> &mdash; (82) -
                10 6481 2305</p>
        </div><!--// footer -->

    </div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

